.about-token {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  margin: auto;

  background: rgb(227, 222, 213);
}

h1, h2 {
  color: purple;
}

section {
  margin-bottom: 20px;
}

.artwork img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 20px auto;
}

footer {
  text-align: center;
}

.partners img {
  width: 50px;
  margin: 5px;
}
