.listing-card {
    background: #f9f9f9;
    border-radius: 8px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listing-card img {
    width: 50px;
    margin-bottom: 70px;
}

.listing-card p {
    font-size: 14px;
    color: #333;
}