.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0f1a;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
  text-align: center;
}

.footer-left {
  span {
    font-family: 'Blake';
    font-weight: 600;
  }

  p {
    font-family: 'VictorMono';
    font-weight: 200;
    font-size: small;
  }
}

.footer-left--logo {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.footer-center ul {
  font-family: 'VictorMono';
  font-weight: 200;
  font-size: small;
  list-style: none;
  padding: 0;
}

.footer-right {
  display: none;
}

.footer-center li {
  color: white !important;
  margin: 5px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons img {
  width: 30px;
  margin: 0 5px;
}
