.spellcasters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.mobile-header {
    .logo {
        width: 10px;
        border-radius: 50%;
    }
}

.vertical-menu {
    position: absolute; // Position it absolutely
    top: 60px; // Adjust based on your header height
    right: 0; // Align to the right
    background-color: white; // Background color for visibility
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Optional shadow for depth
    z-index: 1000; // Ensure it appears above other elements

    .hamburger {
        border-radius: 25%; // Set border radius
        background-color: transparent; // Transparent background
        border: none; // Remove default border
        cursor: pointer; // Change cursor to pointer on hover
        padding: 10px; // Add padding for better click area
        transition: background-color 0.3s; // Smooth transition for background color
    
        &:hover {
            background-color: rgba(255, 255, 255, 0.2); // Optional: change background on hover
        }
    }

    ul {
        list-style: none; // Remove default list styles
        padding: 0; // Remove padding
        margin: 0; // Remove margin
        display: flex; // Use flexbox for vertical alignment
        flex-direction: column; // Stack items vertically

        li {
            padding: 10px 20px; // Add padding for clickable area
            &:hover {
                background-color: #f0f0f0; // Change background on hover
            }
        }
    }
}

a {
    text-decoration: none;
    color: #051b2599;
    
    &:active {
        color: #68787e;
    }

    &:hover {
        color:#051b2599;
    }
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;

    &:visited {
        color: #051b2599;
    }
}

.logo {
    width: 30px;
    border-radius: 50%;
}


.spellcaster-logo {
    color: #051b25 !important;
    font-family: 'Blake';
    margin-left: 0.5em;
    font-size: 20px;

    &:hover {
        color: #051b25 !important;
    }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
        font-family: 'VictorMono';
    }
}

.connect-wallet {
    background: none;
    border: 2px solid #b19cd9;
    padding: 10px 20px;
    border-radius: 20px;
    color: #b19cd9;
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.mobile-header .logo {
    width: 50px;
}