.spellcasters-intro-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    // background: linear-gradient(to bottom, #f0e6f6, #f8d7e4);
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../assets/worlds2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

h2 {
    font-size: 3em;
    margin: 0.5em 0;
}

.buy-spell {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.spellcasters-contract-addr {
    padding: 20px;
    font-size: 0.8em;
    color: #666;
}

.about-token {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin: auto;

    background: rgb(227, 222, 213);

    &--flexbox {
        display: flex;
        align-items: center;

        &--left-separator {
            max-width: 30%;
        }
    }
}

h1 {
    color: purple;
}

.artwork img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
}

footer {
    text-align: center;
}

.partners img {
    width: 50px;
    margin: 5px;
}

.learn {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.learn-link {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    margin-top: 10px;
    font-size: 24px;
}

.listings {
    margin-top: 20px;
}

.circle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e1a47;
    padding: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
}

.text-section {
    max-width: 50%;
}

.join-link {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.icons {
    margin-top: 20px;
}

.icons img {
    width: 50px;
    margin-right: 10px;
}

.image-section img {
    max-width: 300px;
    border-radius: 8px;
}