@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MedievalSharp&display=swap');

.spellcasters-intro-container {
    text-align: center;
    min-height: 100vh;

    background-image: url('../assets/worlds2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--text {
        padding-top: 10em;
        
        &--title {
            font-family: "Inter", serif;
            font-optical-sizing: auto;
            font-weight: 100;
            font-style: normal;
        }
    }

}

.spellcaster-intro-container--text {
    font-family: 'VictorMono';
    color: #6b7577;
    padding-top: 10em;

    display: grid;
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 1em;
    margin: 0.5em 0;
    font-weight: 300 !important;
}

h2 {
    font-size: 3em;
    margin: 0.5em 0;
    font-family: 'Blake';
    color: #000;
}

.about-spellcaster {
    max-width: 510px;
}

.spellcasters-contract-addr {
    padding: 20px;
    font-size: 0.8em;
    color: #666;
    font-family: 'Blake';
    
    p {
        font-weight: 700;
        margin-top: 25em;
    }
}

.about-token {
    h1 {
        font-family: 'VictorMono';
        color: #9441fb;
        margin-top: 5em;
        font-weight: 500 !important;
    }
    
    &--flexbox {
        font-family: 'VictorMono';

        h3 {
            font-weight: 5  00 !important;
        }

        p {
            font-weight: 200 !important;
        }
    }

    padding: 20px;
    min-height: 100vh;
    margin: auto;

    background: rgb(227, 222, 213);

    &--flexbox {
        display: flex;
        align-items: center;

        &--left-separator {
            width: 50%;

            &--paragraph {
                padding: 50px 0;
            }
        }

        &--right-separator {
            width: 50%;
        }
    }
}

.artwork img {
    width: 458px;
    display: block;
    margin: 20px auto;
}

.partners img {
    width: 50px;
    margin: 5px;
}

.tuukz-artworks {
    font-family: 'VictorMono';
    color: #9441fb;
}

.learn {
    min-height: 50vh;
    padding: 20px;
    margin-top: 50px;
    margin: auto;
    text-align: left;
}

.learn-link {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    margin-top: 10px;
}

.listings {
    margin-top: 100px;
    margin-bottom: 100px;
}

.circle {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #3b337a;
    color: fff;

    h1 {
        font-family: 'VictorMono';
        color: #07e342;
    }

    h2 {
        color: #fff;
    }

    p {
        font-family: 'VictorMono';
        color: #fff;
        font-weight: 200;
    }
}

.text-section {
    max-width: 50%;
}

h2 {
    margin: 10px 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.icons {
    margin-top: 50px;
    display: flex;

    a {
        background-color: rgba(84, 64, 168, 0.2);
        border-radius: 32px;
        opacity: 1;
        width: 7em;
        text-align: center;
        padding-left: 0.5em;
        padding-top: 0.5em;
        margin-right: 1em;
    }
}

.icons img {
    width: 50px;
    margin-right: 10px;
}

.image-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.image-section img {
    max-width: 400px;
    border-radius: 8px;
}