.collabs-container {
    background-image: url('../assets/worlds.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    height: 40vh;
}

.nft-market {
    margin-top: 40px;
}

.buy-nft-section {
    margin-top: 30vh;
}

.collab-item {
    border: 1px solid black;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.collab-info {
    margin-left: 20px;
} 