.collabs-container {
    background-image: url('../assets/spellcasting.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    height: 70vh;

    h1 {
        margin-top: 10%;
    }
}

.nft-market {
    margin-top: 40px;
}

.buy-nft-section {
    margin-top: 60vh;
    margin-bottom: 30vh;

    &--text {
        font-family: 'VictorMono';
        color: #9441fb;
        display: grid;
    }
     
    &--title {
        font-family: 'Blake';
        color: #000;
        display: grid;
    }

    &--subtext {
        font-family: 'VictorMono';
        color: #666;
        display: grid;
    }
}

.collab-item {
    border: 1px solid black;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.collab-info {
    margin-left: 20px;
} 